/*Colors ->    Green: #4f8d32, Faded Green: #b5c399, #Yellow: f3ff06, #Red: cd0e0e     */
:root {
  --top-menu-height: 90px;
}
@media  only screen and (max-width: 615px){
    :root{
        --top-menu-height: 65px;
    }
}
*{
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #b5c399 #4f8d32;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    background-color: #cd0e0e;
    color: white;
    border: 2px solid white;
    transition: background-color 0.25s linear 0s;
    transition: color 0.07s linear 0s;
}
button:hover{
    cursor: pointer;
    color: green;
    background-color: #f3ff06;
    border: 2px solid green;
}
button:hover *{
    color: green;
}
*::selection {
  background: #f3ff06;
  color: green;
}
*::-moz-selection {
  background: #f3ff06;
  color: green;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}
html, body{
    height: 100%;
    margin: 0;

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/labyrinth_background.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;
    background-color: #8b9277;
}
.checkbox-radio-container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    color: green;
}

/*TOP NAVIGATION MENU========================================================================*/

#top_menu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient(to bottom right, #4f8d32, #3d7523);
    top: 0;
    height: var(--top-menu-height);
    width: 100%;
    padding: 15px;
    border-bottom: 4px ridge green;
    z-index: 999;
}
#Home_Button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3ff06; 
    text-decoration: none;
    padding-left: 10px;
    font-family: "Arial Black", Impact, sans-serif;
    font-size: 30pt;
}
#Right_Side{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
#Right_Side *{
    font-size: 18pt;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Right_Side li{
    height: 100%;
    line-height: 100%;
    margin-left: 10px;
}
#Right_Side li a{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    background-color: green;
    padding: 2px 5px;
    display: block;
    text-align: center;
    line-height: 100%;
    align-content: center;
}
#Right_Side li a:hover{
    text-decoration: none;
    border: 2px solid green;
    color: green;
    background-color: #f3ff06;
    border-radius: 25px;
    display: block;
    padding: 2px 5px;
    line-height: 100%;
}
#Right_Side li button{
    text-decoration: none;
    border-radius: 25px;
    padding: 2px 3px;
    line-height: 100%;
    align-content: center;
}
#Right_Side li button:hover{
    text-decoration: none;
    border-radius: 25px;
    padding: 2px 3px;
    line-height: 100%;

    align-content: center;
}
@media  only screen and (max-width: 615px){
    #Home_Button{
        font-size: 20pt;
    }
}
@media only screen and (max-width: 750px){
    #Right_Side *{
        height: 40px;
        font-size: 10pt;
    }

}

/*====== FAQ TABLE ======================================================================================*/

#FAQ_Content{
    max-width: 900px;
    margin: calc(var(--top-menu-height) + 40px) auto;
    padding: 0 20px;
    width: 100%;
}
.faq-table {
    width: 100%;
    border-collapse: collapse;
}
.faq-table td {
    padding: 15px;
    border: 1px solid white;
}
.faq-question {
    background-color: #3d7523;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.faq-question:hover,
.faq-question:hover *{
    background-color: #f3ff06;
    color: green;
}
.faq-answer{
    background-color: #b5c399;
    width: 0;
    display: none;
    transition: height 0.25s ease-in 0s;
}
.faq-answer *{
    font-style: italic;
    color: #3d7523;
}

/*==== POPUP OVERLAY ========================================================================*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.popup{
    display: none;
    border: 3px solid #f3ff06;
    min-height: 200px;
    max-width: 400px;
    width: 90%;
    border-radius: 5px;
    background-image:linear-gradient(to bottom right, #4f8d32, #3d7523);
    text-align: center;
    overflow-y: scroll;
}
.popup img{
    width: 100%;
}
@media  only screen and (max-height: 500px){
    .popup img{
        display: none;
    }
}

.popup form{
    padding: 20px 0px;
}
.popup form > *{
    font-size: larger;
    padding: 20px 0px;
}
.popup form input{
    margin-top: 3px;
    padding: 5px 2px;
    text-align: center;
    background-color: #b5c399;
    border: none;
    border-radius: 25px;
}
.popup form input[type=submit],
.popup form input[type=button] {
    cursor: pointer;
    background-color: #cd0e0e;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    margin: 20px 10px;
}
.popup form input[type=submit]:hover,
.popup form input[type=button]:hover {
    color: green;
    background-color: #f3ff06;
    border: 2px solid green;
}
#Email_Error{
    color: #f3ff06;
    padding: 0 !important;
}
#Add_Funds_Popup{
    background-image:url("../img/vault-1024x1024.jpg");
    background-blend-mode: normal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Add_Funds_Popup label{
    font-weight: bold;
    color: #f3ff06;
    text-shadow: 2px 0px black;
}
#cvv{
    width: 50px;
}
#expiry_date{
    width: 100px;
}
#amount{
    width: 150px;
    background-color: #4f8d32;
    color: #f3ff06;
    border: 2px solid yellow;
}

/*===== CUSTOM SLIDER CHECKBOXES / RADIO BUTTONS ===============================================*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: 0!important;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b5c399;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #4f8d32;
}
input:focus + .slider {
  box-shadow: 0 0 1px #4f8d32;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.round {
  border-radius: 34px;
}
.round:before {
  border-radius: 50%;
}
input[type='radio'] {
    border: 0px;
    width: 18pt;
    height: 18pt;
    accent-color: green;
}

/*======== FOOTER =============================================================================*/
footer{
    width: 100%;
    height: fit-content;
    border-top: 4px ridge green;
    padding: 20px;
    background-image:linear-gradient(130deg, #4f8d32, #3d7523);
}
.footer-columns{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: stretch;
}
.footer-nav{
    height: max-content;
    background-image:linear-gradient(130deg, #b5c399, #7ab45f);
    padding: 10px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(1, 70, 1);
}
.footer-nav h4{
    text-align: center;
    margin-bottom: 5px;
}
.footer-nav ul{
    list-style: none;
}
.footer-nav ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    padding: 2px 3px;
}
.footer-nav ul li a:hover{
    background-color: #4f8d32;
    border-radius: 3px;
    opacity: 1!important;
}
.footer-nav i {
  width: 1.1rem;
  text-align: center;
  opacity: 0.8;
}
.social-links {
    display: flex;
    gap: 0.75rem;
    margin-top: 0.75rem;
    justify-content: center;
    text-decoration: none;
}
.fa-brands{
    font-size:larger;
}
.social-links a {
  font-size: 1.1rem;
}