/*Colors ->    Green: #7ecd5a, Faded Green: #b5c399, #Yellow: f3ff06, #Red: cd0e0e     */
*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #B5C399;
    display: flex;
}
input{
    color: green;
}

/*TOP NAVIGATION MENU========================================================================*/

#top_menu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: #7ECD5A;
    
    width: 100%;
    padding: 15px 5px;
}
.Home_Button{
    color: #f3ff06; 
    text-decoration: none;
    padding-left: 10px;
    font-family: "Arial Black", Impact, sans-serif;
    font-size: 30pt;
}
#Right_Side{
    display: inline-block;
    list-style: none;
}
#Right_Side li{
    display: inline-block;
    height: 100%;
    line-height: 100%;
    margin-left: 10px;
    font-size: 18pt;
}
#Right_Side li a{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 25px;
    display: block;
    height: 100%;
    width: 100%;
    
    background-color: green;
    padding: 2px 5px;
    font-size: 18pt;
    line-height: 100%;
    align-content: center;
}
#Right_Side li button{
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    
    background-color: #cd0e0e;
    padding: 2px 3px;
    line-height: 100%;
    font-size: 18pt;
    align-content: center;
}
#Right_Side li button:hover{
    text-decoration: none;
    display: inline-block;
    border: 2px solid green;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    color: green;
    background-color: #f3ff06;
    padding: 2px 3px;
    line-height: 100%;
    font-size: 18pt;
    align-content: center;
}

/*LOGIN POPUP========================================================================*/
#Login_Popup{
    min-height: 200px;
    max-width: 400px;
    width: 90%;
    padding: 20px 25px;
    border: 3px solid green;
    background-color: #7ECD5A;
    text-align: center;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}